/* CAPTCHA container */
.captcha-container{
margin-top:15px;
display:flex;
flex-direction:column;
align-items:center;   /* centers horizontally */
justify-content:center;
gap:10px;
text-align:center;
}

/* CAPTCHA text box */
.captcha-box{
background:#f2f2f2;
padding:10px 15px;
font-size:22px;
letter-spacing:4px;
font-weight:bold;
border:1px solid #ccc;
border-radius:4px;
width: 400px;
text-align:center;

}

/* captcha input */
.captcha-input{
width:380px;
padding:8px;
border:1px solid #ccc;
border-radius:4px;
background-color: #d4dfe1;
text-align:center;
}

/* refresh button */
.captcha-refresh{
background:lightblue;
color:white;
border:none;
padding:6px 12px;
border-radius:4px;
cursor:pointer;
font-size:14px;
}

.captcha-refresh:hover{
background:#0056b3;
}